<launch>
<!-- <node pkg="rosserial_python" type="serial_node.py" name="SERIAL" output="screen" launch-prefix="xterm -e " >
  <param name="~port" value="/dev/ttyACM0" />
</node> -->
<!-- Sense -->
<node pkg="demo4_detection_combiner" type="demo4_detection_combiner_node" name="DC" required="true">
  <param name="~input1" value="PHYSICAL_DETECTION" />
  <param name="~input2" value="VIRTUAL_DETECTION" />
  <param name="~output1" value="FINAL_DETECTION" />
  <param name="~mode" value="1" />
</node>
<!-- Plan/Act NODE -->
<node pkg="demo4_planner" type="demo4_planner_node" name="PLAN" output="screen" launch-prefix="xterm -e " required="true">
  <param name="~input1" value="FINAL_DETECTION" />  
  <param name="~input2" value="TRUTH_ROVER_LOCATION" />
  <param name="~output1" value="WHEELS" /> 
</node>
<!-- <node pkg="demo4_wheels_splitter" type="demo4_wheels_splitter_node" name="WS" output="screen" launch-prefix="xterm -e " required="true">
  <param name="~input1" value="WHEELS" />
  <param name="~output1" value="PHYSICAL_WHEELS" />
  <param name="~output2" value="VIRTUAL_WHEELS" />
  <param name="~mode" value="1" />
</node> -->
<node pkg="demo4_rover_sim" type="demo4_rover_sim_node" name="ROVER" output="screen" required="true">
  <param name="~input1" value="VIRTUAL_WHEELS" />  
  <param name="~output1" value="OUTPUT_ROVERSIM" /> 
</node>
<!-- <node pkg="demo4_virtual_env" type="demo4_virtual_env_node" name="ENV" output="screen" required="true">
  <param name="~input1" value="VIRTUAL_LOCATION" />
  <param name="~output1" value="VIRTUAL_OBJECT" />  
  <param name="~output2" value="OBSTACLE" /> 
</node> -->
<node pkg="demo4_virtual_env" type="demo4_virtual_env_node" name="ENV" output="screen" required="true">
  <param name="~ROVER_PHYROV_input1" value="OUTPUT_ROVERSIM" />
  <param name="~ROVER_VIRROV_input2" value="OUTPUT_ROVERSIM2" />
  <param name="~DC_PHYROV_output1" value="VIRTUAL_DETECTION" />
  <param name="~DC_VIRROV_output2" value="VIRTUAL_DETECTION2" /> 
  <param name="~VIZ_output3" value="OBSTACLE" />  
  <param name="~LC_PHYROV_output4" value="TRUTH_ROVER_LOCATION" />
  <param name="~LC_VIRROV_output5" value="TRUTH_ROVER_LOCATION2" />
</node>
<node pkg="demo4_viz" type="demo4_viz_node" name="VIZ" output="screen" required="true">
  <param name="~input1" value="TRUTH_ROVER_LOCATION" /> 
  <param name="~input3" value="OBSTACLE" />
  <param name="~input2" value="TRUTH_ROVER_LOCATION2" />
</node>
</launch>
