<launch>
<machine name="host" address="localhost" env-loader="/home/aslabpc3/catkin_ws/devel/env.sh" default="never" >
</machine> 

<!-- <machine name="rover" address="10.254.163.4" env-loader="/home/roveraccess/catkin_ws/devel/env.sh" user="roveraccess" password="msve2019" default="never" >
</machine> -->

<machine name="ntiana" address="192.168.1.166" env-loader="/home/ntiana/catkin_ws/devel/env.sh" user="ntiana" password="paixnidi01" default="never" >
</machine> 

<machine name="roverpc2" address="192.168.1.13" env-loader="/home/roverpc2/catkin_ws/devel/env.sh" user="roverpc2" password="msve2019" default="never" >
</machine> 
<node pkg="thesisDemoFollower" type="thesisDemoFollower_node" name="PLAN2" output="screen"  required="true" machine="roverpc2">
    <param name="Comm" value="1" />
    <param name="FriendlyName" value="OldLeathrum" />
    <param name="ASId" value="1" />
    <param name="ModId" value="0" />
</node> 

<node pkg="thesisDemoEnv2" type="thesisDemoEnv2_node" name="ENV2" output="screen" launch-prefix="xterm -e " required="true" machine="host">
  <param name="Comm" value="1" />
  <param name="FriendlyName" value="VirtualEnv2" />
  <param name="ASId" value="4" />
  <param name="ModId" value="0" />
  <param name="~ENV_VEH2_LOCATION_OUTPUT" value="TRUTH_ROVER_LOCATION2" />
  <!-- <param name="~ENV_VEH4_LOCATION_OUTPUT" value="TRUTH_ROVER_LOCATION4" /> -->
</node>
<!-- Viz (Host) -->
<!-->
<node pkg="testASSubs" type="testASSubs_node" name="test" output="screen" launch-prefix="xterm -e " required="true" machine="host">
  <param name="Comm" value="0" />
  <param name="ASId" value="0" />
  <param name="ModId" value="1" />
  <param name="~input1" value="TRUTH_ROVER_LOCATION" /> 
  <param name="~input2" value="TRUTH_ROVER_LOCATION2" />
  <param name="~input3" value="TRUTH_ROVER_LOCATION3" />
  <param name="~input4" value="TRUTH_ROVER_LOCATION4" /> 
</node> -->
</launch>


