<launch>

<machine name="host" address="localhost" env-loader="/home/roverpc2/catkin_ws/devel/env.sh" default="never" >
</machine> 

  <!-- Detecting Virtual Object with mode 1 -->
<node pkg="demo4_detection_combiner" type="demo4_detection_combiner_node" name="DC1" output="screen"  required="true" machine="host">
  <param name="~input1" value="DETECTED_OBJECT" />
  <param name="~input2" value="VIRTUAL_DETECTION" />
  <param name="~output1" value="FINAL_DETECTION" />
  <param name="~mode" value="1" />
  <param name="Comm" value="0" />
</node>

<node pkg="demo4_planner" type="demo4_planner_node" name="PLAN1" output="screen" required="true" machine="host">
  <param name="~PLAN_DETECTION_INPUT" value="FINAL_DETECTION" />
  <param name="~PLAN_WHEELS_OUTPUT" value="WHEELS" /> 
  <param name="Comm" value="0" />
</node>

<node pkg="demo4_wheels_splitter" type="demo4_wheels_splitter_node" name="WS1" output="screen" required="true" machine="host">
  <param name="~input1" value="WHEELS" />
  <param name="~output1" value="PHYSICAL_WHEELS" />
  <param name="~output2" value="VIRTUAL_WHEELS" />
  <param name="~mode" value="1" />
  <param name="Comm" value="0" />
</node>

<node pkg="encoder_sim" type="encoder_sim_node" name="ENCODER1" output="screen" launch-prefix="xterm -e " required="true" machine="host">
  <param name="~input1" value="VIRTUAL_WHEELS" />
  <param name="~output1" value="PHYSICAL_TICKS" />
  <param name="Comm" value="0" />
</node>

<node pkg="demo4_viz" type="demo4_viz_node" name="VIZ" output="screen" launch-prefix="xterm -e " required="true" machine="host">
  <param name="~input1" value="TRUTH_ROVER_LOCATION" /> 
  <param name="~input3" value="OBSTACLE" />
  <param name="~input2" value="TRUTH_ROVER_LOCATION2" />
  <param name="Comm" value="0" />
</node>

<node pkg="demo4_virtual_env" type="demo4_virtual_env_node" name="ENV" output="screen" launch-prefix="xterm -e " required="true" machine="host">
  <param name="~ENV_VEH1_INPUT" value="PHYSICAL_TICKS" />
  <param name="~ENV_VEH2_INPUT" value="OUTPUT_ROVERSIM2" />
  <param name="~ENV_VEH1_DETECTION_OUTPUT" value="VIRTUAL_DETECTION" />
  <param name="~ENV_VEH2_DETECTION_OUTPUT" value="VIRTUAL_DETECTION2" /> 
  <param name="~ENV_OBSTACLE_OUTPUT" value="OBSTACLE" />  
  <param name="~ENV_VEH1_LOCATION_OUTPUT" value="TRUTH_ROVER_LOCATION" />
  <param name="~ENV_VEH2_LOCATION_OUTPUT" value="TRUTH_ROVER_LOCATION2" />
  <param name="Comm" value="0" />
</node>
</launch>