<launch>

<machine name="host" address="localhost" env-loader="/home/roverpc2/catkin_ws/devel/env.sh" default="never" >
</machine> 

<machine name="rover" address="10.254.242.204" env-loader="/home/roveraccess/catkin_ws/devel/env.sh" user="roveraccess" password="msve2019" default="never" >
</machine> 

<node pkg="rosserial_python" type="serial_node.py" name="SERIAL" output="screen" required="true" machine="rover">
  <param name="~port" value="/dev/ttyACM0" />
</node>

<node pkg="demo_encoder_observer" type="demo_encoder_observer_node" name="OBSERVE" output="screen" required="true" launch-prefix="xterm -e " machine="host">
  <param name="~input1" value="PHYSICAL_TICKS" />
</node>

<node pkg="test_lidar" type="test_lidar_node" name="SENSE1" output="screen" required="true" machine="rover">
</node>

<node pkg="demo4_detection_combiner" type="demo4_detection_combiner_node" name="DC1" output="screen"  required="true" machine="rover">
  <param name="~input1" value="DETECTED_OBJECT" />
  <param name="~input2" value="VIRTUAL_DETECTION" />
  <param name="~output1" value="FINAL_DETECTION" />
  <param name="~mode" value="0" />
</node>

<node pkg="demo4_planner" type="demo4_planner_node" name="PLAN1" output="screen" required="true" machine="rover">
  <param name="~PLAN_DETECTION_INPUT" value="FINAL_DETECTION" />
  <param name="~PLAN_WHEELS_OUTPUT" value="WHEELS" /> 
</node>

<node pkg="demo4_wheels_splitter" type="demo4_wheels_splitter_node" name="WS1" output="screen" required="true" machine="rover">
  <param name="~input1" value="WHEELS" />
  <param name="~output1" value="PHYSICAL_WHEELS" />
  <param name="~output2" value="VIRTUAL_WHEELS" />
  <param name="~mode" value="0" />
</node>

</launch>